<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<div class="btn-toolbar">
  <button class="btn btn-primary" (click)="onLoadServers(1)">Load Server 1</button>
  <button class="btn btn-default" (click)="onLogin()">Login</button>
  <button class="btn btn-default" (click)="onLogout()">Logout</button>
</div>


